@model IEnumerable<LadyLuxe.Models.Domain.Product>
@using Syncfusion.EJ2
@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="container-fluid">
    <div style="text-align:center">
        <div style="font-size:large">Products</div>
        <div style="font-size:small;color:gray">List of All products</div>
        </div>
        <div style="margin:2px;background-color:white;overflow:auto;margin-bottom:23px;margin-top:15px; box-shadow: 8px 8px 17px #f2f2f2, -8px -8px 17px #ffffff;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-8">
                    <partial name="_Search" />
                </div>
                <div class="col-12 col-md-4" style="margin-top:8px;text-align:center">
                    <a asp-action="" data-toggle="modal" data-target="#Create" style="">
                        <div class=" btn-sm btn-dark" style="background-color:black;color:white;padding:8px;margin:8px;text-align:center;border-radius:8px">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <span>
                                Add New Products
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        </div>
    @if (TempData["Error"] == null) {}else{
        <div class="alert alert-danger">
            <strong>Ooops...!</strong> @TempData["Error"]
            </div>}
            @if (TempData["success"]==null){}else{<div class="alert alert-success alert-dismissible"><strong>Sucess...!</strong>@TempData["success"]</div>}
        


   
    <table class="table table-responsive-sm table-striped table-bordered  table-sm" style="color:black">
        <thead style="background-color:gray; color:white">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sub_CategoryId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PreviousPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quality)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th colspan="3" style="text-align:center">Action</th>
            </tr>
        </thead>
        <tbody id="myUL">
            @if (Model.Count() !=0) {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <b>   @Html.DisplayFor(modelItem => item.ProductName)</b>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sub_CategoryId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PreviousPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quality)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Image)
                        </td>
                        <td><a asp-action="" data-target="#Edit_@item.Id" data-toggle="modal"  asp-route-id=""><i class="fa fa-pencil" aria-hidden="true"></i><span>Edit</span></a> |</td>
                        <td><a asp-action="" data-toggle="modal" asp-route-id="">Details</a> |</td>
                        <td> <a asp-action="" data-target="#Delete_@item.Id" data-toggle="modal" asp-route-id=""> <i class="fa fa-trash" aria-hidden="true"></i><span>Remove</span></a></td>
                        
                    </tr>
                   <div id="Delete_@item.Id" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div style="font-size:large;font-weight:bold" class="modal-title text-danger">
                                        <i class="fa fa-trash" aria-hidden="true"></i> Remove Products
                                    </div>

                                </div>
                                <div class="modal-body">
                                    <div style="font-size:large;font-weight:bold;text-align:center" class="modal-title">@item.ProductName</div>

                                    <div class="alert alert-danger">Hey you are about to remove this Product from the system.Are you sure you want to continue??</div>
                                </div>
                                <form asp-action="Delete">
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <div class="modal-footer">
                                        <div class=" btn-success btn-sm" data-dismiss="modal">Cancel</div>
                                        <input type="submit" id="completebutton" value="Remove product " class=" btn-danger btn-sm" />

                                    </div>
                                </form>

                            </div>

                        </div>
                   </div>
                    <div id="Edit_@item.Id" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div style="font-size:large;font-weight:bold" class="modal-title text-Primary">
                                        <i class="fa fa-pencil" aria-hidden="true"></i> Edit Category
                                    </div>

                                </div>
                                <form asp-action="Edit" asp-controller="Products">
                                    <input type="hidden" value="@item.Id" name="Id">
                                    <input type="hidden" value="@item.Sub_CategoryId" name="Id">
                                    <input type="hidden" value="@item.CategoryId" name="Id">

                                    <div class="modal-body">
                                        <div class="form-group">
                                            Product name
                                            <input name="ProductName" value="@item.ProductName" required class="form-control" />

                                        </div>
                                        <div class="form-group">
                                            Image
                                            <input name="Image" required value="@item.Image" class="form-control" />
                                        </div>
                                         <div class="form-group">
                                            Description
                                            <input name="Description" required value="@item.Description" class="form-control" />
                                        </div>
                                         <div class="form-group">
                                            Price
                                            <input name="Price" required value="@item.Price" class="form-control" />
                                        </div>
                                         <div class="form-group">
                                            Previous Price
                                            <input name="PreviousPrice" required value="@item.PreviousPrice" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            Quality
                                            <input name="Quality" required value="@item.Quality" class="form-control" />
                                        </div>
                                        
                                        <div class="modal-footer">
                                            <div class=" btn-danger btn-sm" data-dismiss="modal">Cancel</div>
                                            <input type="submit" id="completebutton" value=" Edit Product " class=" btn-success btn-sm" />

                                        </div>
                                </form>

                            </div>

                        </div>
                    </div>

                }

            }
            else {
                <tr>
                    <td colspan="5" style="color:red;text-align:center">
                        Products not Found..
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>
<div id="Create" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div style="font-size:large;font-weight:bold" class="modal-title text-Primary">
                    <i class="fa fa-pencil" aria-hidden="true"></i>Add new Product
                </div>

            </div>
            <form asp-action="Create" asp-controller="Products">
             
                <input type="text" name="Sub_CategoryId">
                <input type="text" name="CategoryId">
               

                <div class="modal-body">
                    <div class="form-group">
                        Product name
                        <input name="ProductName"  required class="form-control" />

                    </div>
                    <div class="form-group">
                        Image
                        <input name="Image" required class="form-control" />
                    </div>
                    <div class="form-group">
                        Description
                        <input name="Description" required  class="form-control" />
                    </div>
                    <div class="form-group">
                        Price
                        <input name="Price" required  class="form-control" />
                    </div>
                    <div class="form-group">
                        Previous Price
                        <input name="PreviousPrice" required  class="form-control" />
                    </div>
                    <div class="form-group">
                        Quality
                        <input name="Quality" required  class="form-control" />
                    </div>

                    <div class="modal-footer">
                        <div class=" btn-danger btn-sm" data-dismiss="modal">Cancel</div>
                        <input type="submit" id="completebutton" value=" Add new Product " class=" btn-success btn-sm" />

                    </div>
            </form>

        </div>

    </div>
</div>

